<template>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right:0px; padding-left:0px;">
        <div class="card">
               <div  v-if="client !== ''">
            <div class="card-header" >
                <div class="row" style="margin-top:-10px">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="header-avatar">
             <avatar :username=avatar style="display: inline-block"></avatar> Chat {{client}}   
        </div>
             
    </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a class="btn btn-danger" style="background-color:#C5171C !important;" id="btn-chat" v-on:click="end_chat()" :href="'/users_chat/'+ id" > End Chat</a>

            
    </div>
</div>
            </div>
               </div>
                <div v-else>
                <div class="card-header" >   Chat   </div>
                </div>
        
            <div class="card-body">
                <chat-messages-component></chat-messages-component>
                <chat-form-component v-on:agentsent="addMessage"></chat-form-component>
            </div>
        </div>
    </div>
</template>

<script>
import Avatar from 'vue-avatar'

const config = {
    headers: {
       'Authorization': "Bearer " + window.localStorage.getItem("token"),
      'Content-Type' : 'application/json'
    }
 }
    export default {
        props: ['user'],
       components: {
    'avatar': Avatar
  },
        data() {
            return {
                messages: [],
                client :'',
                avatar:'',
                client_id:'',
                id:''

               
            }
        },
  
  created() {
      this.id=this.$route.params.customer;
this.client_id=this.$route.params.client_id;
this.client=''
if(typeof this.$route.params.client_id !== "undefined")
{
        axios.post('/api/get_client_name',{'client_id':this.$route.params.client_id},config
            ).then(response => {
                this.client = ' with ' +response.data;
                this.avatar=response.data
            });
}
else
{
    this.client=''
     this.avatar=''
}
        
  },

        methods: {
              end_chat()
            {
                Echo.leaveChannel('chat.'+this.$route.params.client_id)
        
                 axios.post('/api/end_chat',{'channel_id':this.$route.params.id,'customer_agent_id':this.$route.params.customer},config
            ).then(response => {

               console.log(response)
            });
            },

        addMessage(message) {

            this.messages.push(message);
        
            axios.post('/api/messages_client',message, 
                 config
              ).then(response => {
            //   console.log(response.data);
            });
        }
    }
    }
</script>
<style >
 .col-md-10  div{
   
    text-transform: capitalize!important;
}
</style>