<template>
<div  v-if="messages ==false" >
  <div style="min-height: 455px;
    padding: 60px 0!important;
    max-height: 455px;
    overflow-y: auto; text-align: center;">
  <b-avatar :text=name.substring(0,1)  size="200px"></b-avatar>
   <p style="font-size: 55px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;">Hey {{name}}</p>
    <p>Welcome to oscar dashboard</p>
   
    </div>
  </div>
    </div>
    </div>
     <div   v-else>
        <div class="message-area" ref="message" v-chat-scroll="{always: false, smooth: true}">
        <message-component 
            v-for="message in messages" 
            :key="message.id" 
            :message="message" >
        </message-component>    
          
    </div>
     </div>
</template>

<script>
const config = {
    headers: {
       'Authorization': "Bearer " + window.localStorage.getItem("token"),
      'Content-Type' : 'application/json'
    }
 }
     import Event from '../event.js';

  export default {
    props: ['messages','user'],
     data() {
            return {
                
                    name:window.localStorage.getItem("user-name")
            }
        },
     mounted() {
       
      axios.post('/api/get_messages',{'channel_id':this.$route.params.id},config
            ).then(response => {
                this.messages = response.data;
                
            });
           //
         let id =this.$route.params.client_id;
         
           Echo.join('chat.'+id)
                .here(
                (users) => 
                {
                console.log('here');
                }
                )
                .joining((user) =>
                { 
                    
               this.isDisabled=false
                 
             
                } 
                )
                .leaving((user) => 
                {

              this.messages.push({
              message:'Left',
              customer: user
              });
              this.leaving(user.id);
              this.get_user();
                   
                }
                );
                
        Echo.private('chat.'+id)
        .listen('MessageSent', (e) => {
          console.log('chat.'+id);
          
          this.messages.push({
            message: e.message.message,
            customer: e.customer
          });
        });
            Echo.channel('chat.'+id)
        .listen('AgentSent', (e) => {
           console.log('AgentSent.'+id);
          this.messages.push({
            message: e.message.message,
            customer: e.customer
          });
        });
        Event.$on('agentsent', (message) => {
           this.messages.push({
            message: message.message,
            customer: JSON.parse( window.localStorage.getItem("user")),
         
          });
         
          axios.post('/api/messages_client',message, 
                 config
              ).then(response => {
        
            });
    
        });
        
            
        },
           methods: {
             leaving(id)
            {
            axios.post('/api/leaving_user',{'channel_id':this.$route.params.id,'customer_agent_id':this.$route.params.customer,'user_id':id},config
            ).then(response => {

           Echo.leaveChannel('chat.'+this.$route.params.client_id)

            });
            },
              get_user() {
               axios.get('/api/get_users',config
            ).then(response => {
               
                this.users=response.data.channels
                this.last_messages=response.data.messages
             
            });
            }
           },
  };
</script>
<style>
    .message-area {
        height: 400px;
        max-height: 400px;
        overflow-y: scroll;
        padding: 15px;
        border-bottom: 1px solid #ccc;
        display: block;
    }
</style>