<template>
<div  v-if="route_id.length !== undefined">
    <div class="input-group">
        <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">

        <span class="input-group-btn">
            
            <a class="btn btn-primary btn-sm" id="btn-chat"  @click="sendMessage" :disabled='isDisabled'>
                <img :src="'/send_white.png'" />
            </a>
          
                 

        </span>
    </div>
   </div>
</template>

<script>
const config = {
    headers: {
       'Authorization': "Bearer " + window.localStorage.getItem("token"),
      'Content-Type' : 'application/json'
    }
 }
     import Event from '../event.js';

    export default {
        props: ['user'],

        data() {
            return {
                route_id: '',
                isDisabled:false,
                send_count:0,
                 count:0,
                newMessage: '',
                    id:window.localStorage.getItem("id")
            }
        },
        created()
        {
this.route_id=this.$route.params.id;

        },

 mounted() {
       

         let id =this.$route.params.client_id;
           Echo.join('chat.'+id)
                .here(
                (users) => 
                {
                console.log('here');
                }
                )
                .joining((user) =>
                { 
                    
               this.isDisabled=false
                 
             
                } 
                )
                .leaving((user) => 
                {
           
                    
                    confirm('Customer left the chat room');
                    this.isDisabled=true
                    this.end_chat();
                    this.get_user();
                }
                );
 
            this.listen();
        },
        methods: {
            
         
            end_chat()
            {
                Echo.leaveChannel('chat.'+this.$route.params.client_id)
        
                 axios.post('/api/end_chat',{'channel_id':this.$route.params.id,'customer_agent_id':this.$route.params.customer},config
            ).then(response => {

               console.log(response)
            });
            },
                listen() {
                Echo.join('counter')
                .here(
                (users) => 
                {
                 
                this.count = users.length;
               
                }
                )
                .joining((user) =>
                { 
                    this.count++
               
                    axios.post('/api/online_now', {counter:this.count}, 
                config
                );
                } 
                )
                .leaving((user) => 
                {
                this.count--
                axios.post('/api/online_now', {counter:this.count}, 
                config
                );    
                
                }
                );
                },
        
            
            sendMessage() {
               
             if(this.newMessage !== ''  && typeof this.$route.params.id !== "undefined")
             {
                 let messageObj = this.buildMessage();
                  Event.$emit('agentsent', {
                    customer:  window.localStorage.getItem("id"),
                    message: this.newMessage,
                    channel_id:this.$route.params.id
                });

                
             }
            else if(typeof this.$route.params.id == "undefined")
            {
            confirm('Please Choose User');
            }
             else{
                 confirm('Please Enter Message');
             }
                

                this.newMessage = ''
            },
               buildMessage() {
                return {
                    id: Date.now(),
                    body: this.newMessage,
                    selfMessage: true,
                    customer: {
                        name: 'Krunal'
                    }
                }
            },
            
        }    
    }
</script>