<template>

        <div class="card-body msg_card_body " >
        <div  v-if="message.customer.id== id">
        <div class="d-flex justify-content-start mb-4">
        <div class="img_cont_msg">
        <avatar :username=message.customer.name ></avatar>
        <!-- <div> {{ message.customer.name  }}</div> -->
        </div>
        <div class="msg_cotainer">
        {{ message.message }}

        </div>
        </div>
        </div>
        <div v-else>
        <div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer_send">
        {{ message.message }}

        </div>
        <div class="img_cont_msg">
        <avatar :username=message.customer.name ></avatar>
        <!-- <div> {{ message.customer.name  }}</div> -->

        </div>
        </div>
        </div>
        </div>

    
</template>


<script>
import Avatar from 'vue-avatar'
    export default {
        props: ['message'],
         components: {
    'avatar': Avatar
  },
         data() {
            return {
                
                   id:window.localStorage.getItem("id"),
                
            }
        },
       
    }
</script>

<style>
  .justify-content-end .msg_cotainer_send{
        align-self: center;
        padding: 5px 20px;
        background-color: dodgerblue;
        color: #fff;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0;
        margin-right: 15px;
    }
    .justify-content-end .img_cont_msg{
    align-self: center;
    }
    .justify-content-start .msg_cotainer{
    align-self: center;
    padding: 5px 20px;
    background-color: #ccc;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 15px;
    }
    .justify-content-start .img_cont_msg{
    align-self: center;
    }
    
    
</style>