.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.lang-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  color: #fff;
}

.lang-toggle:hover {
  color: #fff;
}

.limit-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

