    .header-top-v3,
    .header-wrapper,
    .featured-bar,
    .ad-box-area,
    .pagination,
    .vs-widget-about p,
    .header-wrapper form,
    footer,
    .form,
    .tab-content,
    .aside .nav-tabs,
    .shop-details,
    table,
    .vs-mobile-menu,
    .product-title,
    .vs-shop-wrapper,
    .product-area,
    #products-content,
    .bg-theme {
        direction: rtl !important;
    }
    
    .fl-right {
        float: left !important;
    }
    
    .fl-left {
        float: right !important;
    }
    
    .pleft-5 {
        padding: 0 5px 0 0px
    }
    
    .main-menu ul.sub-menu,
    .main-menu ul.mega-menu {
        right: 0;
    }
    
    .main-menu ul.sub-menu li.menu-item-has-children>a:after {
        float: left;
        margin-right: 60px;
        margin-left: 0;
        content: '\f104';
    }
    
    .menu-item-has-children {
        text-align: right;
    }
    
    .main-menu ul.sub-menu li ul {
        right: 100%;
        left: auto;
    }
    
    .me-3 {
        margin-left: 1rem !important
    }
    
    .header-wrapper form {
        text-align: revert;
    }
    
    .header-search .icon-btn {
        left: 2px;
        right: auto;
    }
    
    .profile-content {
        flex-direction: row-reverse
    }
    
    .aside .nav-tabs {
        padding: 0;
    }
    
    .profile-content {
        direction: ltr;
    }
    
    .vs-mobile-menu ul .vs-item-has-children>a:after {
        left: 0;
        right: auto;
    }
    
    .box-nav-popup {
        padding: 20px 15px 0px 0;
    }
    
    .ms-2 {
        margin: 0 .5rem!important;
    }
    /* #cart-count2 {
        top: 0px !important;
        left: -12px !important;
        right: auto !important;
    } */
    
    input[type="radio"]+label:after {
        width: 0;
    }
    
    input[type="radio"]+label:before {
        right: -19px !important;
        left: auto !important;
    }
    
    .widget-title .fa {
        margin-left: 22px;
    }
    
    .header-search input {
        padding-left: 0px;
        padding-right: 30px;
    }
    
    input[type="radio"]~label:after {
        width: 10px !important;
        height: 10px;
        top: 4px;
        right: -16px;
    }