/* sergey style*/

.main-content {
    margin-left: 40%;
}

.circle {
    background-color: #666666;
    border-radius: 25px;
    padding: 7px 0px 0px 8px;
    width: 45px;
    height: 45px;
}

.circle i {
    color: #ffffff;
    font-size: 30px;
}

.gray-line1 {
    background-color: #666;
    height: 35px;
}

.gray-line2 {
    background-color: #a2a2a2;
    height: 35px;
}

.My-Orders {
    color: #6c757d;
    width: 100%;
}

.Current-Orders {
    color: #fff;
}

.button-1:focus {
    box-shadow: none;
}

.button-1 {
    background-color: #fff;
}

.button-1:hover {
    text-decoration: none;
    color: #fe845d;
}

.button-1 {
    color: #fe845d;
    border: none !important;
    padding-left: 0px !important;
}

.button-2 {
    color: #bbb9b9;
    border: none !important;
    padding-left: 0px !important;
}

@media (max-width: 992px) {
    .main-content {
        margin-left: 37% !important;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 34% !important;
    }
}

@media (max-width: 576px) {
    .main-content {
        margin-left: 30% !important;
    }
}

@media (max-width: 375px) {
    .main-content {
        margin-left: 15% !important;
    }
}


/**/

.container {
    width: 100%
}

.my-account {
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    background-color: #FAFAFA;
    overflow: hidden;
    padding: 10px;
    color: #535353
}

.main .aside ul {
    list-style: none;
    border: 1px solid #C5C5C5;
    color: #535353;
}

.main .aside ul li {
    padding: 10px;
    color: #535353;
    border: 1px solid #d8d5d5;
    display: flex;
    height: 50px;
}

.main .aside ul li:first-child {
    padding: 10px !important
}

.main .aside ul li:hover {
    background-color: #F2F2F2
}

.main .aside ul li a {
    color: #535353;
    width: 100%;
    height: 100%;
}

.main .aside ul li a i {
    margin-right: 5px;
    font-size: 20px;
    height: 100%;
}

.main .aside ul li a :hover {
    background-color: #FAFAFA !important
}

.nav-tabs .active {
    background-color: #FAFAFA !important;
    border: none !important;
}


/* .main .aside ul li:focus {
	border: 1px solid #c5c5c5;
} */

form {
    color: #5e5e5e;
}

form label {
    margin-bottom: 0;
}

input {
    color: #a39f9f !important;
    max-width: 260px;
}


/* input[type='file'] {
  display: block;
  width: 100%;
} */

form .btn {
    margin: 0 auto;
    text-align: center;
    background: #414742;
    color: #fff;
    width: 90%
}

.nav {
    display: block;
}

.nav a:focus {
    border: #fff !important
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

#contact .btn {
    background-color: #414742;
    color: #fff
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #414742;
    border-color: #a73f38
}