    /* body, */
    
    .header-top-v3,
    .header-wrapper,
    .featured-bar,
    .ad-box-area {
        direction: ltr !important;
    }
    
    .fl-right {
        float: right !important;
    }
    
    .fl-left {
        float: left !important;
    }
    
    .pleft-5 {
        padding: 0 0 0 5px
    }
    
    .main-menu ul.sub-menu,
    .main-menu ul.mega-menu {
        left: 0;
    }
    
    .main-menu ul li:hover>ul.sub-menu,
    .main-menu ul li:hover ul.mega-menu {
        direction: revert;
    }
    
    input[type="radio"]~label::before {
        top: 1px;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid var(--border-color);
        background: var(--white-color);
    }
    
    .widget-title .fa {
        margin-right: 22px;
    }