.vs-ad-box1{
  position: relative;

  .ad-content {
    position: absolute;
    left: 11%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 12px;
  }  
}

.vs-ad-box3,
.vs-ad-box1 {
  .ad-btn {
    color: $body-color;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $body-color;
      transition: inherit;
    }

    &:hover {
      color: $theme-color;

      &:before {
        background-color: $theme-color;
      }
    }
  }
}

.vs-ad-box5,
.vs-ad-box4,
.vs-ad-box3 {
  position: relative;

  .ad-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
    z-index: 1;

    * {
      z-index: 2;
    }
  }  
}

.vs-ad-box3 {
  .ad-content {
    top: 55%;
  }
}

.vs-ad-box4 {
  .ad-content {
    top: 40%;
    max-width: 280px;
  }
}

.vs-ad-box4 {
  .ad-content {
    top: 40%;
  }
}


.vs-ad-box6 {
  .ad-content {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 1;
    transform: translateY(-50%);
  }
}




@include ml {
  .vs-ad-box1 {
    .ad-content {
      left: 5%;
      
      h1 {
        font-size: 28px;
      }
      .ad-btn {
        font-size: 14px;
      }
    }
  }
}

@include lg {
  .vs-ad-box5 .ad-content,
  .vs-ad-box4 .ad-content,
  .vs-ad-box3 .ad-content {
    transform: translateY(-69%);
    padding: 0 80px 0 15px;
  }

  .vs-ad-box6{
    .ad-content {
      right: 30px;
    }

    .h1 {
      font-size: 30px;
    }

    h4 {
      font-size: 18px;
    }
  }
}


@include xs {
  .vs-ad-box1 {
    .ad-content {
      left: 5%;
      
      h1 {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }

  .vs-ad-box6 {
    .ad-content {
      transform: scale(0.7) translateY(-50%);
      right: 3%;
      transform-origin: 100% 0;
    }
  }
}