@media (max-width: 1790px) {
  .vs-blog-wrapper {
    .shape1 {
      display: none !important;
    }
  }
}

.blog-grid {

  .blog-title {
    margin-bottom: 8px;
  }

  .blog-content {
    background-color: #f5fcf9;
    padding: 28px 30px;
  }

  .blog-meta {
    a {
      color: $body-color2;
      position: relative;
      margin-right: 4px;
      font-size: 14px;

      &:hover {
        color: $theme-color;
      }

      &:after {
        content: '';
        width: 7px;
        display: inline-block;
        height: 1px;
        background-color: #f3e7e7;
        vertical-align: middle;
        margin-left: 7px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }
    }

    &.fs-12 {
      a {
        font-size: 12px;
      }
    }
  }


  &.grid-wide {
    .blog-content {
      padding: 30px 40px 35px 40px;
    }
  }

  
}

@media (min-width: $lg) and (max-width: $xl) {
  .related-post-wrapper {
    .blog-grid {
      .blog-content {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

}


@include lg {
  .blog-single {
    .blog-author {
      padding: 25px 25px;
    }
  }
}

@include sm {
  .blog-grid {
    &.grid-wide {
      .blog-content {
        padding: 20px 20px 20px 20px;
      }
    }
  }
}