.contact-form1 {
  .form-control {
    font-family: $title-font;
    height: 70px;
    padding-right: 0;
    border-color: #ccceee;
    color: $title-color;

    @include inputPlaceholder {
      color: $body-color2;
    }
  }
}