.cta-box-style1 {
  position: relative;

  // .cta-content {
  //   position: absolute;
  //   right: 14%;
  //   top: 50%;
  //   width: 100%;
  //   max-width: 330px;
  //   transform: translateY(-50%);
  //   z-index: 1;
  //   padding: 40px;
  // }

  .cta-content {
    padding-top: 14%;
    width: 100%;
    max-width: 330px;
    padding: 60px 30px;
    margin-left: auto;
    margin-right: 14%;
  }

}

.cta-box-style2 {
  background-color: #f5fcf9;
  padding: 100px 100px 80px 100px;
}


.cta-feature {
  .media-icon {
    display: inline-block;
    text-align: center;
    position: relative;
    @include equal-size(100px);
    background-color: $white-color;
    line-height: 100px;
    font-size: 38px;
    border-radius: 50%;
    transition: all ease 0.4s;

    &:before {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      border: 1px dotted #e2d6d6;
      border-radius: inherit;
      transition: all ease 0.4s;
    }
  }

  


  &:hover {
    .media-icon {
      color: $white-color;
      background-color: $theme-color;

      &:before {
        border-color: $white-color;
      }
    }
  }

}


@include xl {
  .cta-box-style2 {
    padding: 80px 80px 60px 80px;
  }

  
}


@include ml {
  .cta-box-style2 {
    padding: 60px 60px 40px 60px;
  }

  .cta-feature {
    .media-icon {
      @include equal-size(80px);
      line-height: 80px;
      font-size: 26px;

      &.mr-35 {
        margin-right: 15px;
      }
    }
  }

  .cta-box-style1 .cta-content {
    margin-right: 0%;
    max-width: 380px;
  }
}


@include md {
  .cta-box-style2 {
    padding: 60px 0 40px 0;
  }
}

@include lg {
  .cta-feature{
    &.d-lg-flex {
      text-align: center;
      .media-icon {
        margin-right: 0;
      }
    }
  }
}