.filter-menu-style1 {
  
  button {
    border: none;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    position: relative;
    color: #140735;
    font-weight: 700;
    padding-right: 37px;
    margin-right: 15px;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: 95% 10px;

    i {
      margin-bottom: 10px;
      display: block;
      font-size: 2rem;
      font-weight: 400;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      background-image: none !important;
    }

    &.active,
    &:hover {
      color: $theme-color;
    }
    
  }
}

@include md {
  .filter-menu-style1.mb-65 {
    margin-bottom: 35px;
  }
}


@include xs {
  .filter-menu-style1  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    button {
      background-size: 0 0;
      margin-right: 20px;
      padding: 0;
      font-size: 13px;

      i {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }

    }
  }
}