.vs-gallery-grid {
  position: relative;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(32, 80, 153, 0.4);
    transition: all ease 0.6s;
    z-index: 1;
  }

  &:before {
    bottom: 100%;
  }

  &:after {
    top: 100%;
  }

  .gallery-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    color: $white-color;
    font-size: 42px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    transition-delay: 0s;
  }
  

  &:hover {
    .gallery-btn {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.4s;
    }

    &::after {
      top: 0;
    }

    &:before {
      bottom: 0;
    }
  }
}