.vs-member-box {
  text-align: center;
  margin-bottom: 23px;

  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }

  .member-img {
    display: inline-block;
    margin-bottom: 35px;
    @include equal-size(260px);
    max-width: 100%;
    margin-right: 10px;
    position: relative;
    border-radius: 50%;

    img {
      border-radius: 50%;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      @include equal-size(100%);
      border-radius: inherit;
    }

    &:before {
      left: 10px;
      top: 10px;
      z-index: -1;
      background-color: #ccceee;
    }

    &:after {
      opacity: 0;
      visibility: visible;
      background-color: rgba(0,0,0,0.3);
      transition: all ease 0.4s;
    }
  }

  .member-name {
    margin-bottom: 5px;
  }

  .degi {
    font-family: $title-font;
    font-size: 18px;
  }


  .member-links {
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 50%;
    @include on-circle(5, 260px, 40px, 67, 110);
    transition: all ease 0.7s;
    
    a {      
      display: inline-block;
      @include equal-size(40px);
      line-height: 40px;
      font-size: 14px;
      color: $body-color2;
      background-color: $white-color;
      text-align: center;
      box-shadow: 0px 5px 16px 0px rgba(235, 225, 225, 0.52);
      border-radius: 50%;
      transform: translateX(-50%);
      transition: all ease 0.8s;

      &:hover {
        background-color: $theme-color;
        color: $white-color;
      }
    }

  }



  &:hover {
    .member-links {
      top: 0;
      transform: rotate(360deg);
    }

    .member-img {
      
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}



@include sm {
  .vs-member-box{
     .member-img {
       width: 200px;
       height: 200px;
     }

    .member-links {
      @include on-circle(5, 200px, 40px, 60, 140);
    }
  }
}