.vs-testimonial-wrapper {

  .shape1 {
    position: absolute;
    left: 15%;
    top: 8%;
    animation-delay: 3s;
  }

  .shape2 {
    position: absolute;
    right: 10%;
    bottom: 25%;
  }

}


.testimonial-box {
  background-color: $white-color;
  position: relative;
  padding: 40px 40px 18px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all ease 0.4s;

  .quote-icon {
    position: absolute;
    right: 50px;
    top: 50px;
    line-height: 1;
    color: #e5d8d8;
    font-size: 48px;  
  }

  &:hover {
    box-shadow: 0px 11px 42.14px 0.86px rgba(221, 221, 221, 0.3);
  }


  &.bg-dark {
    &:hover {
      box-shadow: none;
    }
  }
  
}



.testimonial-arrow {
  position: absolute;
  top: calc(50% - 15px);
  left: -50px;
  z-index: 31;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;

  &[data-slick-next] {
    left: auto;
    right: -50px;
    transform: translate(50%, -50%);
  }
}


.container {
  &:hover {
    .testimonial-arrow {
      opacity: 1;
      visibility: visible;
      left: 0;

      &[data-slick-next] {
        left: auto;
        right: 0;
      }
    }
  }
}


@include md {
  .testimonial-box {
    padding: 30px 30px 10px 30px;

    .quote-icon {
      display: none;
    }
  }
}

@include sm {
  .testimonial-box {
    padding: 20px 20px 1px 20px;

    .quote-icon {
      display: none;
    }
  }
}