.range-slider-area {
  .price-amount {
    display: flex;
    justify-content: space-between;
    
    span {
      display: inline-block;
      color: $title-color;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .ui-slider {
    height: 6px;
    position: relative;
    width: 93%;
    background-color: #f6f1f1;
    border: none;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 3px;
  }

  .ui-slider-range {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    display: block;
    background-color: $theme-color;
  }

  .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -2px;
    text-align: center;
    line-height: 10.5px;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: -7px;
    z-index: 2;
    box-shadow: 1.5px 2.598px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: $theme-color;

    &:focus {
      outline: none;
      box-shadow: 1.5px 2.598px 10px 0px rgba(0, 0, 0, 0.15);
    }

    &:before {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
