.sticky-sidebar {
  overflow: hidden;
  position: sticky;
  top: 0;
}


.widget {
  margin-bottom: 50px;
  
  &:last-child {
    margin-bottom: 30px;
  }

  .screen-reader-text {
    display: none;
  }

  select {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border-radius: 4px;
  }
  
}

.widget_title {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: -0.3em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background-color: $theme-color;
    border-radius: 5px;
  }


  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }
}





ul.product_list_widget {
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    border: 1px solid #ececec;
  }

  .media-body.pl-30 {
    padding-left: 15px;
  }

  .amount {
    font-size: 14px;
  }
}



