label {
    font-size: 14px;
    font-weight: 700;
    color: $title-color;
    margin-bottom: 10px;
    line-height: 1;
}

table.variations select,
select,
.form-select,
.form-control {
    height: 55px;
    padding: 0 20px;
    border: 1px solid #e3e6e9;
    color: $title-color;
    background-color: $white-color;
    border-radius: 3px;
    font-family: $body-font;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid #e3e6e9;
        background-color: $white-color;
    }
    @include inputPlaceholder {
        color: $body-color2;
        text-transform: capitalize;
    }
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-position: right .75rem center;
    background-size: 16px 12px;
    background-repeat: no-repeat;
    font-size: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 50px;
}

input.form-control::-webkit-outer-spin-button,
input.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input.form-control[type=number] {
    -moz-appearance: textfield;
}

textarea.form-control {
    min-height: 180px;
    padding-top: 10px;
    padding-bottom: 17px;
}

input[type="checkbox"] {
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    display: none;
    &:checked {
        ~label {
            &:before {
                content: "\f00c";
                background-color: $theme-color;
                color: $white-color;
                border-color: transparent;
            }
        }
    }
    ~label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: block;
        line-height: 1.5;
        margin-bottom: 11px;
        &:before {
            content: '';
            font-family: $icon-font;
            font-weight: 400;
            position: absolute;
            left: 0;
            top: 2px;
            background-color: $white-color;
            border: 1px solid $border-color;
            height: 18px;
            width: 18px;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            border-radius: 3px;
        }
    }
}

input[type="radio"] {
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    display: none;
    ~label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: block;
        line-height: 1.3;
        margin-bottom: 11px;
        &:after,
        &:before {
            content: '';
            position: absolute;
            border-radius: 100%;
            transition: all 0.2s ease;
        }
        &::before {
            // top: 1px;
            // left: 0;
            width: 16px;
            height: 16px;
            border: 1px solid $border-color;
            background: $white-color;
        }
        &:after {
            width: 10px;
            height: 10px;
            top: 4px;
            left: 3px;
            opacity: 0;
            transform: scale(0);
        }
    }
    &:checked {
        ~label {
            &::before {
                border-color: $theme-color;
            }
            &:after {
                opacity: 1;
                background-color: $theme-color;
                transform: scale(1);
            }
        }
    }
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group>i {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 18px;
    color: $theme-color;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border: 1px solid $error-color;
    background-position: right calc(.375em + 0.8875rem) center;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

textarea.form-control.is-invalid {
    background-position: top calc(.375em + 0.5875rem) right calc(.375em + .8875rem);
}

.row.no-gutters>.form-group {
    margin-bottom: 0;
}