.slick-track>[class*=col] {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

.gx-10 {
  --bs-gutter-x: 10px;
}

@media (min-width: $ml) {
  .gx-80 {
    --bs-gutter-x: 80px;
  }
}

@media (min-width: $md) {
  .gx-60 {
    --bs-gutter-x: 60px;
  }
  
  .gx-40,
  .row.gutters-40 {
    --bs-gutter-x: 40px;
  }
}