.header-wrapper {
  position: relative;
  z-index: 41;
}


.header-top-wrapper {
  position: relative;
  z-index: 42 !important;
}


.main-menu {
  a {
    color: $title-color;
    font-family: $title-font;
    font-weight: 700;
    display: block;
    position: relative;

    &:hover {
      color: $theme-color;
    }
  }

  &.text-white {
    >ul>li>a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }


  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      position: relative;

      &.menu-item-has-children {
        >a {

          &:after {
            content:  ;
            position: relative;
            font-family: $icon-font;
            margin-left: 7px;
            font-size: 0.8rem;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {

        >ul.sub-menu,
        ul.mega-menu {
          visibility: visible;
          opacity: 1;
          transform: rotateX(0);
          z-index: 9;
        }
      }

    }
  }


  ul.sub-menu,
  ul.mega-menu {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: $white-color;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    visibility: hidden;
    min-width: 200px;
    width: max-content;
    padding: 7px;
    left: -14px;
    opacity: 0;
    z-index: -1;
    transform-origin: top center;
    transform: rotateX(90deg);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, z-index 0s;
  }

  ul.sub-menu {

    li {
      display: block;
      margin: 0 0;
      padding: 4px 9px;

      &.menu-item-has-children {
        >a:after {
          content: "\f105";
          float: right;
          top: 1px;
          font-size: 0.8rem;
        }
      }

      a {

        &:hover {
          color: $theme-color;
        }
      }

      ul {
        left: 100%;
        right: auto;
        top: 0;
        margin: 0 7px;
        border-radius: 5px;
        transform: rotateX(0);

        li {
          ul {
            left: 100%;
            right: auto;
          }
        }
      }
    }
  }

  .mega-menu-wrap {
    position: static;
  }

  ul.mega-menu {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    left: 0;

    li {
      display: block;
      width: 100%;
      padding:0 20px;

      li {
        padding: 3px 0;
      }

      a {
        display: inline-block;
      }
    }

    >li {
      // &:not(:last-child) {
      //   border-right: 1px solid #dddddd;
      // }

      >a {
        display: block;
        border-bottom: 1px solid;
        padding: 0;
        padding-bottom: 10px;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $theme-color;
        border-color: $theme-color;

        &::before {
          display: none;
        }

        &:hover {
          padding-left: 0;
        }
      }

    }
  }
  

  
}


